<li class="contact">
  <strong class="name">{{state.firstName}} {{state.lastName}}</strong>
  <span class="phone-number"><i>{{state.phone}}</i></span>
  {{#if isActive}}
  <p class="address">{{state.address}}</p>
  {{/if}}
</li>
