<form class="form" action="#">
  <table>
    <tr>
      <td>
        <label>Имя</label>
      </td>
      <td>
        <input type="text" name="name" value="" required>
      </td>
    </tr>
    <tr>
      <td>
        <label>Фамилия</label>
      </td>
      <td>
        <input type="text" name="lastname" value="">
      </td>
    </tr>
    <tr>
      <td>
        <label>Номер</label>
      </td>
      <td>
        <input type="text" name="number" value="" required>
      </td>
    </tr>
    <tr>
      <td>
        <label>Адрес</label>
      </td>
      <td>
        <input type="text" name="adress" value="">
      </td>
    </tr>
  </table>
  <input type="reset" name="clear" value="Очистить поля">
  <input type="submit" value="Применить">
</form>
